---
layout: base.njk
title: Blog
permalink: /blog/
eleventyExcludeFromCollections: true
---
<div class="flex items-center justify-between mb-6">
  <h1 class="text-3xl font-bold">Blog</h1>
  <a href="/feed.xml" class="btn btn-ghost btn-sm">RSS</a>
</div>
<ul class="space-y-4">
  {%- for post in collections.posts | reverse %}
  <li>
    <a class="link link-hover text-xl" href="{{ post.url }}">{{ post.data.title }}</a>
    <p class="text-sm opacity-60">{{ post.date | readableDate }}</p>
  </li>
  {%- endfor %}
</ul>
