---
layout: base.njk
title: Events
permalink: /events/
---
<h1 class="text-3xl font-bold mb-6">Events</h1>
<ul class="space-y-2">
  <li>
    <a class="link link-hover text-xl" href="/events/cs-industry-takeover-day-2026/">
      CS Industry Takeover Day 2026
    </a>
  </li>
</ul>
